# Python bytecode
__pycache__/
*.pyc
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# Tool caches
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Virtual environments
.venv/
venv/

# Secrets
.env

# macOS Stuff
.DS_Store